@import './base.css';

#app {
  padding: 0;
  font-weight: normal;
  width: 100%;
  background: #0f1117;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: stretch;
  }

  #app {
    padding: 0;
    width: 100%;
  }
}
